/.idea/.idea.Frontend.dir/.idea/encodings.xml
/2. Basic CSS/.idea/.idea.2. Basic CSS.dir/.idea/encodings.xml
/3. CSS/.idea/.idea.3. CSS.dir/.idea/encodings.xml
/8. Работа с инфраструктурой для создания React-приложения/my-app/.idea/.idea.my-app.dir/.idea/encodings.xml
/.idea/.idea.Frontend.dir/.idea/indexLayout.xml
/2. Basic CSS/.idea/.idea.2. Basic CSS.dir/.idea/indexLayout.xml
/3. CSS/.idea/.idea.3. CSS.dir/.idea/indexLayout.xml
/8. Работа с инфраструктурой для создания React-приложения/my-app/.idea/.idea.my-app.dir/.idea/indexLayout.xml
/.idea/.idea.Frontend.dir/.idea/vcs.xml
/2. Basic CSS/.idea/.idea.2. Basic CSS.dir/.idea/vcs.xml
/3. CSS/.idea/.idea.3. CSS.dir/.idea/vcs.xml
/8. Работа с инфраструктурой для создания React-приложения/my-app/.idea/.idea.my-app.dir/.idea/vcs.xml
