body {
    background-color: rgb(237, 242, 243);
}

h1 {
    color: red;
}

p {
    color: blue;
}

table {
    width: 300px;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 1px solid black;
}

.long_string{
    font-size: 30px;
    color: green;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
