body{
	display: grid;
	grid-template-areas: 
  "red red yellow"
  "green pink yellow"
  "green pink yellow"
  "green pink yellow";
  grid-template-rows: 1fr;
  grid-template-columns: 100px 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin:0 10%;
}

#red{
	grid-area: red;	
	border:maroon solid 2px;
	background-color: red;
	color: greenyellow;
}

#yellow{
	grid-area: yellow;
	border: darkolivegreen solid 2px;
	background-color: yellow;
	color: blue;
}

#green{
	grid-area: green;
	display: grid;
	grid-template-areas: "greenFirst" "greenSecound" "greenThird";
  	grid-template-rows: 1fr 1fr 1fr;
  	grid-template-columns: 1fr;
  	grid-gap: 40px;
  	margin: 0;
	color: red;
  
}

.green{
	border:green solid 2px;
	height: calc(100% - 4px);
	background-color: greenyellow;
}

#greenFirst{
	grid-area: greenFirst;
}

#greenSecound{
	grid-area: greenSecound;
}

#greenThird{
	grid-area: greenThird;
}

#pink{
	grid-area: pink;
	border: blueviolet solid 2px;
	background-color: pink;
	color: black;
}


@media screen and (max-width: 1024px) {
	
body{
	display: flex;
	flex-direction: column;
}
#red{
	order:2;
}
#yellow{
	order:1;
}
#green{
	display: flex;
	order:3;
	grid-template-areas: 
    "greenFirst greenSecound greenThird";
	grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
	justify-content:space-between;
	grid-gap: auto;
}

#pink{
	order:4;	
}

}