body {
    background-color: rgb(237, 242, 243);
}

h1 {
    color: red;
}

p {
    color: blue;
    background-attachment:local;

    text-decoration:darkmagenta;
}

table {
    width: 300px;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 1px solid black;
    
}